@{
    ViewData["title"] = "Index";
}

@{
    <div class="container mx-3"> 
        <table class="table table-hover department-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tên phòng phan</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody id="department-body">

            </tbody>
        </table>

    </div>
}