@model BaiTap_phan3.Models.LoginModel;

@{
    ViewData["Title"] = "Login";
    ViewBag.log = "Login";
}

<div class="container" style="width: 50%;">
    <form id="login-form" asp-controller="Home" asp-action="Login" method="post">
        <div class="form-group mb-3">
            <label asp-for="AccountName"></label>
            <input type="text" asp-for="AccountName" class="form-control">
            <span asp-validation-for="AccountName"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" class="form-control">
            <span asp-validation-for="Password"></span>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
