html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.Staff #container-staff-form span {
  position: absolute;
  color: red;
}

.tool button,
.tool select{
  background-color: rgb(74, 74, 206);
  color: white;
  height: 40px;
  width: 183px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid rgb(74, 74, 206);
  margin-right: 10px;
  text-align: center;
}

.tool label{
  margin: 0;

}

.tool select option {
  height: 38px;
  padding-top: 15px;
  padding-top: 15px;
}

.tool select option:hover {
  background-color: aliceblue;
  color: black;
}

.tool button:hover,
.tool select:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.tool button:hover,
.tool span:hover {
  background-color: rgb(114, 114, 220);
  color: white;
}

.data {
  border-radius: 10px;
}

.loader {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s, visibility 0.5s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  height: 150px;
  width: 150px;
  content: "";
  border: 12px solid lightblue;
  border-bottom: 12px solid black;
  border-radius: 50%;
  animation: spin 0.5s ease-in-out infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes down {
  0% {
    transform: translateX(80px);
  }

  100% {
    transform: translateX(0);
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  min-width: 150px;
  background-color: rgb(36, 71, 184);
  z-index: 1;
  animation: down 0.15s linear;
}

.dropdown-content a {
  padding: 10px;
  background-color: white;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {
  color: white;
  background-color: rgb(202, 202, 230);
  border: 1px solid black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#staff_pagination button {
  background-color: rgb(74, 74, 206);
  color: white;
}


/* warning */
.warning-container{
  z-index: 100000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.warning-popup{
  background-color: #ffffff;
  border-radius: 4px;
  padding: 20px;
  width: 350px;
  box-shadow: 4px 3px 10px #888888;
  transition: all 300ms ease-in-out 0ms;
  display: none;
}

.warning-popup button, .warning-popup p{
  display: block;
}

.warning-popup .fa-check{
  display: none;
}

.warning-popup .fa-ban{
  color: red;
  font-size: 90px;
}

.warninging-popup .icon-container,.icon, .warning-popup .button-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.warning-popup i{
  font-size: 70px;
}

.warning-popup p{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.warning-popup .button-container{
  margin-top: 20px;
}

.warning-popup button{
  width: 90px;
  height: 37px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgb(190, 188, 188);
}

.warning-popup button:hover{
  border: 1px solid rgb(0, 0, 0);
}

.warning-popup p{
  line-height: 25px;
}

.warning-popup button:active{
  background-color: rgb(50, 50, 191);
  color: white;
}

@keyframes righto {
  0%{transform: translateX(500px);}
  100%{transform: translateX(0px);}
}

@keyframes leftToRightOut {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(200px);
  }
}

@keyframes leftToRightIn {
  0% {
    transform: translateX(-200px);
  }

  100% {
    transform: translateX(0);
  }
}


#container-staff-form input[type=number] {
  -moz-appearance: textfield;
}

#container-staff-form input::-webkit-outer-spin-button,
#container-staff-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dong-header div {
  color: white;
  display: block;
}