html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.Staff #container-staff-form span {
  position: absolute;
  color: red;
}

.data {
  border-radius: 10px;
}

#DobError,
#NameError,
.FormError {
  display: none;
  color: red;
  font-size: small;
  font-weight: bold;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden{
  opacity: 0;
  visibility: hidden;
}

.loader::after{
  height: 150px;
  width: 150px;
  content: "";
  border: 12px solid lightblue;
  border-bottom: 12px solid black;
  border-radius: 50%;
  animation: spin 0.75s ease infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}