@using BaiTap_phan3.Models;

@{
    ViewData["Title"] = "Index";
}

@{

            //loading...
    <div class="loading loader--hidden"></div>

    // Thanh tìm kiếm
    <div class="container-fluid d-flex align-items-center justify-content-center p-4" style="height: 100px;">
        <input class="form-control-sm" id="searchInput" type="search" style="width: 60%; height: 100%; font-size: large">
        <button class="btn bg-warning mx-4" id="searchButton" style="height: 90%" onclick="TimKiem()">Tìm kiếm</button>
    </div>


    <div class="tool">
        <!--Nút pupup thêm nhân viên-->
        <button class="btn mb-3" id="open-staff-form-btn" data-toggle="modal" data-target="#container-staff-form"
            onclick="(function(){SelectedMaNhanVien=''})();">Thêm nhân viên <i class="fa fa-plus-circle"></i></button>
        <!--Nút tải xuống Excel-->
        <button class="btn ml-3 mb-3" onclick="ExportToExcel()">Xuất thành file excel <i class="fa fa-download"></i></button>
        <!--Nút lọc phòng ban-->
        <div class="phongban dropdown">
            <span class="btn ml-3 mb-3 mx-1 dropdown-span" style="font-style: italic; text-align: left; min-width: 200px; position: relative">
                <p style="display: inline;">Phòng ban: --Tất cả-- </p>
                <i style="position: absolute; right: 12px; top: 30%" class="fa fa-caret-down"></i>
            </span>
            <div class="dropdown-content ml-3 mx-1">
                <a data-id="0" onclick="LocPhongBan(0)" style="font-style: italic;">--Tất cả--</a>
            </div>
        </div>
    </div>

    <!--bảng thông tin nhân viên-->
    <table class="table table-hover staff-table shadow" style="font-weight: 500;">
        <thead style="background-color: rgb(74, 74, 206); color: white">
            <tr>
                <th>Id</th>
                <th>Họ và tên</th>
                <th>Ngày sinh</th>
                <th>SDT</th>
                <th>Chức vụ</th>
                <th>Phòng ban</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody id="staff-row-container"></tbody>
    </table>

            // phan trang
    <div id="staff_pagination" class="list-group list-group-horizontal justify-content-center">pagination</div>


    <!--modal them nhan vien-->
    <div class="modal fade" id="container-staff-form" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header pb-0">
                    <h4 class="modal-header">Thêm nhân viên</h4>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body container pb-0">
                    <form class="container bg-light px-0 form" id="staff-form" name="staff-form" style="max-width: 500px;"
                        autocomplete="off">

                        <div class="form-group mb-3">
                            <label for="name">Họ và tên:</label>
                            <input type="text" placeholder="Họ và tên*" id="HoVaTen" name="HoVaTen" autofocus
                                class="form-control" onchange="validateName()">
                            <span id="NameError">*Họ tên không để chống</span>
                        </div>

                        <div class="form-group mb-3">
                            <label for="birth">Ngày tháng năm sinh:</label>
                            <input type="date" id="DOB" name="NgaySinh" class="form-control"
                                max='@DateTime.Now.ToString("yyyy-MM-dd")' min="1900-01-01" onchange="validateDob()">
                            <span id="DobError">*Ngày sinh không hợp lệ, nhân viên chưa đủ tuổi đi làm</span>
                        </div>

                        <div class="form-group mb-3">
                            <label for="sdt">Số điện thoại:</label>
                            <input id="DienThoai" name="DienThoai" type="number" min="0" max="99999999999"
                                placeholder="Số điện thoại" class="form-control">
                        </div>

                        <div class="form-group mb-3">
                            <label for="ChuVu">Chức vụ:</label>
                            <input type="text" placeholder="Chức vụ" id="ChucVu" name="ChucVu" class="form-control">
                        </div>
                        <span id="error-staff-form" class="FormError"></span>
                        <div class="from-group mb-3">
                            <label for="PhongBan">Phòng ban:</label>
                            <select name="PhongBan" id="phongban-selection" class="form-select">
                                <option style="font-style: italic;" selected>--Tất cả--</option>
                            </select>
                        </div>
                    </form>

                </div>

                <div class="row px-3 pb-3">
                    <div class="col">
                        <button class="btn btn-primary container-fluid" id="createBtn">Lưu</button>
                    </div>

                    <div class="col">
                        <button class=" btn btn-danger container-fluid" data-dismiss="modal">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--modal-poppup xoa nhan vien-->
    <div class="modal fade" id="removeStaff" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <!--header-->
                <div class="modal-header">
                    <h4 class="modal-title">Xác nhận xóa nhân viên</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!--body--->
                <div class="modal-body">Bạn có thật muốn xóa nhân viên này</div>

                <!--footer-->
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal" id="XoaButton">Xóa</button>
                    <button class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>
}